@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes fade-in {
  from { opacity: 0; transform: translate(-50%, 10px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out;
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

body {
    -webkit-tap-highlight-color: transparent;
}
